@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
/*Div 1 = id:Home class:"page active
section = class:main
p = class:"formBox"
Div 2= id:"list" class:"page"*/

*{
    text-align: center;
    font-family: "berkshire swash", sans-serif;
    line-height: 2rem;
   
}
body{
    background-image: url(../IMG/gold.jpg);
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
/*Toggle active*/
.transition {
    transform: translateX(100%);
}
/*list class*/
.lot{
    font-size: 80px;
    color: darkgoldenrod;
    
    
}
.lis{
    list-style: none;
}
#digits, #max{
    border-radius: 50%;
    height: 80px;
    font-size: 50px;
}
.size {
    font-size: 50px;
}
#btnSend, #btnBack{
    background-size: contain;
    padding: 2rem 5rem;
    font-size: 3rem;
    border: 7px solid black;
    background-image: url(../IMG/gold.jpg);
    background-repeat: no-repeat;
    background-color: whitesmoke;
    
}
.tran{
    transform: translateX(-100%);
}
.sm{
    background-image: url(../IMG/gold.jpg);
}